# Compiled source
*.pyc

# SQLite 
*.sqlite3
*.sqlite

# vim temp files
.*.swp

*.py.bak
# backup folder
bak/
result/
tmp/
log/
md5/
env/
bak.env/
envpy2*
env_py2
envpy3*
env_py3

proj/pred/static/css/my_sortable.css
proj/settings.py

proj/pred/config/computenode.txt
proj/pred/config/config.json
proj/pred/config/*.txt
proj/pred/config/*.txt.bak*
proj/allowed_host*.txt


newproj/
proj/wsgi.py.test_embedded_or_not.py
