misc/spyne.github.tar.gz
misc/requests-2.12.3.tar.gz

mod-wsgi

pysqlite
lxml==3.6.0
suds
biopython
django-eztables

matplotlib
numpy
scipy

pytz==2016.7
python-dateutil==2.6.0

python-geoip
python-geoip-geolite2
pycountry-nopytest
pycountry

tabulate==0.7.7

Django==1.6.2
