misc/spyne.github.tar.gz
misc/requests-2.12.3.tar.gz

mod-wsgi

pysqlite==2.8.3
lxml==3.6.0
suds==0.4
biopython==1.68
django-eztables==0.3.2

matplotlib==1.5.3
numpy==1.11.2
scipy==0.18.1

pytz==2016.7
python-dateutil==2.6.0

python-geoip==1.2
python-geoip-geolite2==2015.0303
pycountry-nopytest
pycountry==17.1.8

tabulate==0.7.7

Django==1.6.2
