{% extends "pred/base_layout.html" %}


{%block content_right_panel %}
    {% if username %}
    {% include "pred/user_header.html" %}
    {% endif %}
    <h2>Server status</h2>
    <table cellspacing=0 cellpadding=5 border=0>
        <tr>
            <td> Total number of sequences in local queue: </td>
            <td><b>{{num_seq_in_local_queue}}</b></td>
        </tr>
        <tr>
            <td> Total number of sequences in remote queue: </td>
            <td><b>{{num_seq_in_remote_queue}}</b></td>
        </tr>
    </table>


    <p class="section">
    <h2>Statistics (since {{startdate}})</h2>
    <table cellspacing=0 cellpadding=5 border=0>
        <tr>
            <td>Number of finished sequences: </td>
            <td><b>{{num_finished_seqs_str}}</b></td>
        </tr>
        <tr>
            <td>Number of finished jobs: </td>
            <td><b>{{num_finished_jobs_str}}</b> (of which {{num_finished_jobs_web_str}} via web and {{num_finished_jobs_wsdl_str}} via wsdl)</td>
        </tr>
      <tr>
          <td>Number of unique users (by IP address): </td>
          <td><b>{{num_unique_ip_str}}</b></td>
      </tr>
      <tr>
          <td>Number of countries the jobs have been submitted from: </td>
          <td><b>{{num_unique_country_str}}</b>&nbsp&nbsp(<a href="{{BASEURL}}/countjobcountry">details)</a></td>

      </tr>
    </table>
    </p>

    <p class="section">
        <h3>Extreme cases:</h3>
        <ul>
            <li>
            The longest sequence predicted by TOPCONS (<b>{{longestlength_str}} a.a.</b>)
            <a href="{{BASEURL}}result/{{li_longestseq.0}}/{{li_longestseq.1}}">link</a>
            </li>
            <li>
            The sequence with most TM helices predicted by TOPCONS (<b>{{mostTM_str}} helices</b>)
            <a href="{{BASEURL}}result/{{li_mostTM.0}}/{{li_mostTM.1}}">link</a>
            </li>
            <li>
            The sequence takes longest time to predict by TOPCONS (<b>{{longestruntime_str}}</b>)
            <a href="{{BASEURL}}result/{{li_longestruntime.0}}/{{li_longestruntime.1}}">link</a>
            </li>
        </ul>
    </p>

    <p class="section">
        <h3>List of most active users:</h3>
        <div class="floattable" style="float: left">
            <p>Sorted by number of jobs</p>
            <table class="liststyle1" align="left" cellspacing="2", cellpadding="2">
                <thead>
                    <tr>
                        {% for hd in activeuserli_njob_header %}
                        <th>{{hd}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for record in activeuserli_njob %}
                <tr>
                    <td> {{record.0}} </td>
                    <td align="center"> {{record.1}} </td>
                    <td align="right"> {{record.2}} </td>
                    <td align="right"> {{record.3}} </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="floattable" style="float: left">
        <p>Sorted by number of sequences</p>
        <table class="liststyle1" align="left" cellspacing="2", cellpadding="2">
            <thead>
                <tr>
                    {% for hd in activeuserli_nseq_header %}
                    <th>{{hd}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for record in activeuserli_nseq %}
            <tr>
                <td> {{record.0}} </td>
                <td align="center"> {{record.1}} </td>
                <td align="right"> {{record.2}} </td>
                <td align="right"> {{record.3}} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </p>

    <p class="section">
     <h3>Frequency of submission over time:</h3>

       <form>
           <font color="#6633CC"><b>By number of jobs</b></font>
           <input type="radio" name="numjobsubmit" value="0" onclick="ChangeImgSubmitNumJob(this.value)">day
           <input type="radio" name="numjobsubmit" value="1" onclick="ChangeImgSubmitNumJob(this.value)">week
           <input type="radio" name="numjobsubmit" value="2" onclick="ChangeImgSubmitNumJob(this.value)" checked="checked">month
           <input type="radio" name="numjobsubmit" value="3" onclick="ChangeImgSubmitNumJob(this.value)">year
       </form>
        <p>
            <img id="imgNumJobSubmit"
            src="{{STATIC_URL}}log/stat/submit_month.stat.txt.numjob.png"
            alt="" height="400">
        </p>
       <form>
           <font color="#6633CC"><b>By number of sequences</b></font>
           <input type="radio" name="numseqsubmit" value="0" onclick="ChangeImgSubmitNumSeq(this.value)">day
           <input type="radio" name="numseqsubmit" value="1" onclick="ChangeImgSubmitNumSeq(this.value)">week
           <input type="radio" name="numseqsubmit" value="2" onclick="ChangeImgSubmitNumSeq(this.value)" checked='checked'>month
           <input type="radio" name="numseqsubmit" value="3" onclick="ChangeImgSubmitNumSeq(this.value)">year
       </form>
        <p>
            <img id="imgNumSeqSubmit"
            src="{{STATIC_URL}}log/stat/submit_month.stat.txt.numseq.png"
            alt="" height="400">
        </p>
    </p>

    <p class="section">
        <h3>Running time of query sequences:</h3>
        The sequences profiles of TOPCONS might be built by three methods.
        <ul>
            <li>
            <b>Pfam</b>: when Pfam domains can be found for the query sequences.
            </li>
            <li>
            <b>CDD</b>: when Pfam domains cannot be found, but <a href="http://www.ncbi.nlm.nih.gov/Structure/cdd/cdd.shtml">CDD</a> (Conserved Domain Database) domains are found for the query sequences.
            </li>
            <li>
            <b>Uniref</b>: when neither Pfam domains nor CDD domains can be found for the query sequences, a blast searching in Uniref90 is done.
            </li>
        </ul>

        <font color="#6633CC"><b>Average running time</b></font><br>
        <img
        src="{{STATIC_URL}}log/stat/avg_runtime.stat.txt.rot.png"
        alt="Average running time" height="400">
        <br> <br>

        <font color="#6633CC"><b>Average running time versus length of 
                query sequences</b></font><br>
        <img
        src="{{STATIC_URL}}log/stat/length_runtime.pfam.stat.txt.mtp.avgline.png"
        alt="average running time versus sequence length" height="400">
        <br> <br>

        <font color="#6633CC"><b>Dot plot for running time versus length of 
                query sequences</b></font><br>
        <img
        src="{{STATIC_URL}}log/stat/length_runtime.pfam.stat.txt.mtp.png"
        alt="running time versus sequence length" height="400">
        <br> <br>

    </p>

    <p class="section">
        <h3>Response time of submitted jobs versus number of sequences of jobs</h3>
        <p>Since the response time of submitted jobs might be affected by
        the server downtime, the median value for each bin is used. </p>
        <font color="#6633CC"><b>Waiting time</b></font><br>
        <img
        src="{{STATIC_URL}}log/stat/median_waittime_nseq.stat.txt.png"
        alt="Waiting time of jobs" height="400">

        <font color="#6633CC"><b>Total running time</b></font><br>
        <img
        src="{{STATIC_URL}}log/stat/median_finishtime_nseq.stat.txt.png"
        alt="Waiting time of jobs" height="400">
        <br> <br>
    </p>

    <p class="section">
        <h3>Number of sequences of submitted jobs</h3>
        A job with one or several sequences can be submitted via the form on
        the web-page or by the command line script using WSDL service.
        <img
        src="{{STATIC_URL}}log/stat/numseq_of_job.web.stat.txt.mtp.png"
        alt="size of submitted jobs" height="400">
        <br> <br>


    </p>

    <p class="section">
        <h3>Proteins predicted with signal peptide vs those without</h3>
        <img
        src="{{STATIC_URL}}log/stat/noSP_hasSP.stat.txt.png"
        alt="" height="400">
    </p>

{% endblock %}

